{% extends 'base.html' %}

{% block content %}

    <main class="container py-5">
        <section class="card card-body">
            <h1 class="display-1 text-center">Task Recording</h1>
            <h4 class="container text-center">Bienvenido al 2do sitio oficial hecho por mi, AngelosGD :D, recuerda que estoy experimentanto con lenguajes de programacion y frameworks, asi que este sitio es probable a fallos y bugs, esperamos su comprension :).</h4>

            <div class="text-center">
                <a class="btn btn-outline-secondary btn-lg" href="/signin/">
                    Signin
                </a>
        
                <a class="btn btn-outline-secondary btn-lg" href="/signup/">
                    Signup
                </a>
            </div>
        </section>

        
    </main>

{% endblock %}